<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936051104076-j7tnri0tnmk8pg7cj40lps2st3t20hij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936051104076-j7tnri0tnmk8pg7cj40lps2st3t20hij</string>
	<key>API_KEY</key>
	<string>AIzaSyAjl8wJZDUqzHH6ZcXxThrT6aNSpUA80SE</string>
	<key>GCM_SENDER_ID</key>
	<string>936051104076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elibrary</string>
	<key>PROJECT_ID</key>
	<string>elibrary-9f956</string>
	<key>STORAGE_BUCKET</key>
	<string>elibrary-9f956.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936051104076:ios:aee26d4175835ff38757e9</string>
</dict>
</plist>